<% provide(:title, 'Series')%>


  <style type="text/css">
  #r1c1:hover {
  background:url(https://s3.amazonaws.com/llamido.com/images/wip2.png) 224px -1px;
  }
  #r1c3:hover {
  background:url(https://s3.amazonaws.com/llamido.com/images/wip.png);
  }
  </style>

<nav>
  <ul id="setBoxes" class="series3">
    <a href="#WorkInProgress" title="The Garden of Good and Evil">
    <li id="r1c1"><h1 itemprop="headline">
    The Garden of Good and Evil
    </h1></li></a>
    <%= link_to(art_series3_belly_path) do %>
    <li id="r1c2"><h1 itemprop="headline">
    Belly
    </h1></li><% end %>
    <a href="#WorkInProgress" title="Im in Love">
    <li id="r1c3"><h1 itemprop="headline">
    I'm in Love
    </h1></li></a>

    <%= link_to(art_series3_celebration_sacrifice_path) do %>
    <li id="r2c1"><h1 itemprop="headline">
    Celebration Sacrifice
    </h1></li><% end %>
    <%= link_to(art_series3_greed_path) do %>
    <li id="r2c2"><h1 itemprop="headline">
    Greed
    </h1></li><% end %>
    <%= link_to(art_series3_leap_of_faith_path) do %>
    <li id="r2c3"><h1 itemprop="headline">
    Leap of Faith
    </h1></li><% end %>

    <%= link_to(art_series3_father_path) do %>
    <li id="r3c1"><h1 itemprop="headline">
    Father
    </h1></li><% end %>
    <%= link_to(art_series3_offering_path) do %>
    <li id="r3c2"><h1 itemprop="headline">
    Offering
    </h1></li><% end %>
    <%= link_to(art_series3_cain_2_path) do %>
    <li id="r3c3"><h1 itemprop="headline">
    Cain 2
    </h1></li><% end %>
 </ul>
</nav>
