<% provide(:title, 'Series 1')%>


<nav>
  <ul id="setBoxes" class="series1">
    <%= link_to(art_series1_perished_triumph_path) do %>
    <li id="r1c1"><h1 itemprop="headline">
    Perished Triumph
    </h1></li><% end %>
    <%= link_to(art_series1_alpha_omega_path) do %>
    <li id="r1c2"><h1 itemprop="headline">
    Alpha Omega
    </h1></li><% end %>
    <%= link_to(art_series1_unveil_path) do %>
    <li id="r1c3"><h1 itemprop="headline">
    Unveil
    </h1></li><% end %>

    <%= link_to(art_series1_prodigal_son_path) do %>
    <li id="r2c1"><h1 itemprop="headline">
    Prodigal Son
    </h1></li><% end %>
    <%= link_to(art_series1_in_god_we_trust_path) do %>
    <li id="r2c2"><h1 itemprop="headline">
    In God We Trust
    </h1></li><% end %>
    <%= link_to(art_series1_kingdom_path) do %>
    <li id="r2c3"><h1 itemprop="headline">
    KINGDOM
    </h1></li><% end %>

    <%= link_to(art_series1_rabbit_path) do %>
    <li id="r3c1"><h1 itemprop="headline">
    Rabbit
    </h1></li><% end %>
    <%= link_to(art_series1_cain_path) do %>
    <li id="r3c2"><h1 itemprop="headline">
    Cain
    </h1></li><% end %>
    <%= link_to(art_series1_babel_path) do %>
    <li id="r3c3"><h1 itemprop="headline">
    Babel
    </h1></li><% end %>
 </ul>
</nav>
