<%= render "layouts/shim" %>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gary Llamido - <%= yield(:title)%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all"  %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<%= render "layouts/header" %>
</head>
<body itemscope itemtype="http://schema.org/WebPage">

<%= render 'layouts/border' %>


  <section  itemscope itemtype="http://schema.org/Person">
      <a href="mailto:Gary@Llamido.com"  itemprop="email">
        <header id="header">
            <h1 itemprop="email">Gary@Llamido.com</h1>
        </header>
      </a>
<%= yield %>
  <%= render "layouts/footer" %>
  </section>
</body>
</html>
